
.hero-container .hero-wrapper {
  max-width: unset;
  padding: 0;
}

.hero {
  position: relative;
  padding: 40px 24px;
  min-height: 300px;
  text-align: center;
  max-width: 900px;
  margin: 24px auto;
}

/* Hero heading */
.hero h1 {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: var(--background-color);
}

/* Background image */
.hero picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* stylelint-disable-next-line selector-class-pattern */
.ControlBar_module_controlBarWrapper__33f2e772 {
  display: none;
}

/* Video styling */
.hero video {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  aspect-ratio: 16 / 9;
  border: none;
}

/* Responsive padding */
@media (width >= 900px) {
  .hero {
    padding: 40px 32px;
  }
}


/* Hide any native video controls */
.hero video::-webkit-media-controls {
  display: none !important;
}

.hero video::-moz-media-controls {
  display: none !important;
}


.hero-video-background iframe {
  pointer-events: none;
}
